{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% trans 'Does it fit?' %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
        {% include 'search/header.html' %}
                
        <section id="searchapp" class="container-fluid">
            <form method="GET" action="{% url 'results' %}">
				<div class="row">
					<div class="col-sm-4 dim-fields">
						<label for="{{ form.search_lenght.id_for_label }}">{% trans 'Lenght:' %}</label>
						{{ form.search_lenght }}
					</div>
					<div class="col-sm-4 dim-fields">
						<label for="{{ form.search_width.id_for_label }}">{% trans 'Width:' %}</label>
						{{ form.search_width }}
					</div>
					<div class="col-sm-4 dim-fields">
						<label for="{{ form.search_height.id_for_label }}">{% trans 'Height:' %}</label>
						{{ form.search_height }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						{{ form.search_subject }}
					</div>			
				</div>
				<div class="row">
					<div class="col-xs-12">
						<input type="submit" id="search" class="form-control" value="Does it fit?">
					</div>          
				</div>
			</form>
        </section>

        <footer id="footer">
            <span id="copyright">{% trans 'Copyright Nicolas Drufin' %}</span>   
        </footer>

</body>
</html>