{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% trans 'Does it fit?' %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
        <header id="header">
                <h1>{% trans 'Does it fit?' %}</h1>
				<img src="{% static 'img/kittens-in-boxes.jpg' %}" alt="box" />
        </header>
                
        <section id="searchapp" class="container-fluid">
            <form method="POST" action="{% url 'results' %}">
                 {% csrf_token %} 
            <div class="row">
                <div class="col-sm-4 dim-fields">
                    <label for="search-lenght">{% trans 'Lenght:' %}</label>
                    <select id="search-lenght" class="form-control">
                        <option value="None">{% trans 'Indifferent' %}</option>
                        {% for dim in dim_range %}
                            <option value="{{ dim }}">{{ dim }} cm</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 dim-fields">
                    <label for="search-width">{% trans 'Width:' %}</label>
                    <select id="search-width" class="form-control">
                        <option value="None">{% trans 'Indifferent' %}</option>
                        {% for dim in dim_range %}
                            <option value="{{ dim }}">{{ dim }} cm</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 dim-fields">
                    <label for="search-height">{% trans 'Height:' %}</label>
                    <select id="search-height" class="form-control">
                        <option value="None">{% trans 'Indifferent' %}</option>
						{% for dim in dim_range %}
                            <option value="{{ dim }}">{{ dim }} cm</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
				<div class="col-xs-12">
					<input type="text" id="search-subject" class="form-control" placeholder="{% trans 'What do you want to search?' %}" autofocus>
				</div>			
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" id="search" class="form-control" value="Does it fit?">
                </div>          
            </div>
        </form>
        </section>

        <footer id="footer">
            <span id="copyright">{% trans 'Copyright Nicolas Drufin' %}</span>   
        </footer>

</body>
</html>